.filterField {
    width: 100%;
    background-color: #1e8f8f;
    color: #fff;
    border-radius: 8px;
    z-index: 10;       
    box-shadow: 0 10px 25px rgba(0,0,0,.25);
    max-height: 200px;
    overflow-y: auto;
}

.chooseFilter{
    border: none;
    padding: 10px;
    width: 100%;
    background-color: #1e8f8f;
    color: #fff;
    cursor: pointer;
}

.chooseFilter:hover{
    background: #81dcdc;
}