.filterField {
    padding: 12px;
    width: 100%;
    background: rgb(103, 130, 130);
    color: white;
    border-radius: 8px;
    z-index: 1000;       
    box-shadow: 0 10px 25px rgba(0,0,0,.25);
    max-height: 200px;
    overflow-y: auto;
}

.chooseFilter{
    border: none;
    padding: 5px;
    width: 100%;
    background: rgb(103, 130, 130);
    cursor: pointer;
}

.chooseFilter:hover{
    background: rgb(138, 167, 167);
}