.cellContent {
  display: flex;
  justify-content: space-between;
}

.arrow{
  height: 20px;
  width: 20px;
}

.cell{
    position: relative;
}

.filterImg{
    position: absolute;
    top:5px;
    right: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}