table {
  padding-top: 10vh;
  border: 1rem hidden #1e8f8f;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px #1e8f8f;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  z-index: 1;
}

thead {
  font-size: 1.2vw;
  background-color: #1e8f8f;
  color: #fff;
}

th,
td {
  border: 1px solid #1e8f8f;
  padding: 1.5vw;
  line-height: 1.5vw;
}

td {
  font-size: 1.2vw;
}
