.cell{
  position: relative;
  padding-right: 28px;
}

.filter{
  position: absolute;
  top:5px;
  right: 5px;
  z-index: 10;
}

.filterImg{
    height: 20px;
    width: 20px;
    display: block;
    cursor: pointer;
}

.cellContent {
  display: flex;
  justify-content: space-between;
}

.arrow{
  height: 20px;
  width: 20px;
}

.filterPopover {
  position: absolute;
  top: 24px;
  right: 0;
  width: 100%;
}