table {
  border-radius: 1.5rem;
  border: 1rem hidden #1e8f8f;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px #1e8f8f;
  overflow: hidden;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

li, p, a, td{
  font-size: 1vw;
  line-height: 1;
}

thead {
  font-size: 1.5rem;
  background-color: #1e8f8f;
  color: #fff;
}

th,
td {
  border: 1px solid #1e8f8f;
  padding: 1.5rem;
  line-height: 1.5;
}

td {
  font-size: 1.3vw;
}

.cellContent {
  display: flex;
  justify-content: space-between;
}

.arrow{
  height: 20px;
  width: 20px;
}
