.containerModal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.userModal{
    position: relative;
    z-index: 1000;
    padding: 50px;
    background-color: #2b2a2a;
    border-radius: 1.5rem;
    border: 2px solid #1c4545;
    min-width: 50px;
    min-height: 40px;
}

.closeModal{
    position: absolute;
    top: 15px;
    right: 15px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}